.main-form{
    padding: 50px;
}
input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit-button{
    padding: 10px;
    color: white;
    background-color: blue;
    border-radius:5px;
    
  }
  .reset-button{
    padding: 10px;
    color: white;
    background-color: red;
    border-radius:5px  ;
    
  }
  span{
    color: red;
    font-size: xx-small;
  }