

/* Main form padding */
.main-form{
    padding: 50px;
}

/* Input boxes formatting */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Submit button formatting */
  .submit-button{
    padding: 10px;
    color: white;
    background-color: blue;
    border-radius:5px;
    
  }

 /* Submit reset formatting */
  .reset-button{
    padding: 10px;
    color: white;
    background-color: red;
    border-radius:5px  ;
    
  }

  /* span element colour red to show error */
  span{
    color: red;
  }

  /* Adding space on the checkboxes and inputs */
  .main-form-newsletter{
    margin-top: 2%;
  }